{% extends "base.html" %}

{% block home %}
<div class="flex">
  <div class="flex-auto h-120 bg-base-100 px-8">
      <div class="flex mt-4 mb-4">
          <div class="flex-auto w-4/6 h-96 mr-4 px-4 py-4 bg-neutral-100 border-2 border-neutral-400 drop-shadow-lg rounded-lg">
              <p class="text-lg">This website is a compilation of resources for you to turn to when you're looking for something to:</p>
              <p class="mt-2">Give you tips on how and where to get help</p>
              <p class="mt-2">Make you less bored</p>
              <p class="mt-2">Help you care for yourself</p>
              <p class="mt-2"> Share some resources with your parents or family members to help in these stressful times</p>
              <p class="mt-2">Learn something new!</p>
          </div>
          <div class="flex-auto w-2/6 py-4 bg-neutral-100 border-2 border-neutral-400 drop-shadow-lg rounded-lg">
              <img class="mx-auto rounded-lg" src="sunflower.jpg" width="400" height="300">
          </div>
      </div>
  </div>
</div>
{% endblock %}